<%- include('partials/header') %>


<div class="jumbotron centered background">
  <div class="container">

    <!-- <i class="fa fa-thin fa-list-ul"></i> -->
    <img src="/images/todolistlogo.png" class="todolistimage" alt="logo">
    <h1 class="display-3">Todo List</h1>
    <p class="lead">kepp your lists here</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
